<!doctype html>
    <html lang="en">
        <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Neural Nocturne</title>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        </head>
        <body>
            <nav class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </nav>
            <div class="outer-container">
                <div class="window-container">         
                    <div class="header-div">
                        <h1 id="header" class="exo-2-900">About</h1>
                    </div>
                    <div class="about-div">
                        <p>Neural Nocturne is a project by Elvin Carmona, Mark Jordan and Michael Levins. It is a music genre classification Neural Network implemented with a multi-layered perceptron (MTP). 
                            It has a testing accuracy of 93%, and can detect 10 different musical genres: blues, classical, country, disco, hiphop, jazz, metal, pop, reggae and rock. It can accept Youtube links
                            to music videos, and can also accept .mp4 and .wav audio files. We hope you enjoy Neural Nocturne!</p>
                    </div>
                </div>    
            </div>
    </body>
</html>
    
 

